
// Font location
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/node_modules/fontawesome/fonts";

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'template';

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #333333;
}

.label-xl {
  font-size: 18px;
}
