
// Font location
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/node_modules/fontawesome/fonts";

$font-size-base: 18px;

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'template';

.progress {
  height: 40px;

  .progress-bar {
    font-size: 20px;
    line-height: 40px;
  }
}

.to-upper {
  text-transform: uppercase;
}
