<!-- <form ng-submit="vm.mix()" class="form-inline">

  <div class="form-group">
    <input type="text" class="form-control" ng-model="vm.factor">
    <button class="btn btn-primary" type="submit">Go</button>
  </div>

</form>

<hr> -->

<h3 ng-show="vm.loading">
  Loading data...
</h3>

<div ng-show="!vm.loading">

  <h1>How people feel about <strong>DiCaprio</strong></h1>

  <div class="progress">
    <div class="progress-bar" style="min-width: 5%; width: {{ vm.factor }}%; background-color: {{ vm.color.hexString() }}">
      {{ vm.factor }}%
    </div>
  </div>

  <h3 class="to-upper" style="color: {{ vm.color.hexString() }}">
    <strong ng-bind="vm.feeling"></strong>
  </h3>

  <h4 class="to-upper">
    Tweets analyzed: {{ vm.tweetsAnalyzed }}
  </h4>

</div>
